.left {
    height: 10%;
    width: 70%;
    background-color: rgba(94, 163, 241, 0.3);
    padding-left: 8%;
    padding-top: 2%;
}

.words {
    margin-top: 9%;
    margin-bottom: 9%;
}

.raport {
    padding-top: 2%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
}

.words p {
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-left: 10%;
    margin-right: 10%;
}

#imgCriteria {
    align-self: center;
    margin-left: 40%;
    width: 10%;
    height: 10%;
}

.imgChart {
    margin-left: 19%;
    width: 10%;
    height: 10%;
}

.viewChart {
    align-items: center;
}

#imgView {
    padding-left: 25%;
    padding-right: 20%;
    width: 50%;
    height: 50%;
}


/*Phone version*/

@media (max-width: 600px) and (max-height: 900px) {
    footer {
        position: fixed;
    }
    .headerNormalView {
        width: 100%;
    }
    .phone_header_menu {
        display: block;
    }
    .text_menu {
        font-size: medium;
        color: black;
        font-weight: 300;
    }
    .text_hf {
        font-size: small;
    }
    .headerBtn .header-Btn {
        display: none;
    }
    .header-Btn {
        margin: 2em 0;
        color: white;
        text-align: center;
    }
    #phone_meniu_btn {
        position: absolute;
        top: -20%;
        right: 2%;
    }
    main {
        margin-top: 22%;
        font-size: 90%;
    }
    .images {
        display: flex;
        flex-direction: column;
    }
    .imgChart {
        width: 50%;
        height: 30%;
    }
    #imgCriteria {
        width: 35%;
        height: 50%;
        margin-left: 20%;
        margin-right: 20%;
    }
    #imgView {
        padding: 0;
        width: 60%;
        height: 50%;
        margin-left: 20%;
        margin-right: 20%;
    }
    .words {
        margin-bottom: 25%;
    }
}
