.login-panel {
    position: absolute;
    top: 14%;
    left: 100%;
    display: flex;
    flex-direction: column;
    padding: 6em;
    background: rgba(94, 163, 241, 0.452);
    border-radius: 3%;
    border-style: inset;
    border-color: rgb(12, 95, 190);
    box-sizing: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 10px 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.form-input {
    margin: 1em;
}

.text-login {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

#login {
    font-size: larger;
    color: rgb(112, 112, 112);
    background: rgba(94, 163, 241, 0.452);
    padding: 0.3em 0;
    margin-right: 0.7em;
    border: none;
    border-radius: 100px;
    color: black;
}


/*credentials*/

.bad_credentials {
    position: absolute;
    background-color: rgb(168, 1, 1);
    padding: 3em;
    border-radius: 30px;
    transform: translateY(-110%);
    left: 42%;
    z-index: 2;
    transition: transform 0.75s ease-out;
}

.bad-credentials_text {
    font-size: large;
    color: white;
    font-weight: 500;
}

.bad-credentials_grey-bkg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.bad-credentials_grey-bkg_shown {
    display: block;
}

.bad-credentials_shown {
    transform: translateY(150%);
}

@media screen and (min-width:700px) and (min-height:1000px) {
    .login-panel {
        left: 20%;
        top: 20%;
    }
    .text-login {
        font-size: larger;
    }
}

@media screen and (min-width:500px) and (min-height:600px) and (max-height:1025px) {
    .login-panel {
        left: 20%;
        top: 20%;
        width: 30%;
        height: 35%;
    }
    .form-input {
        width: 110%;
    }
}

@media screen and (min-width:1000px) and (min-height:1000px) and (max-height:1400px) {
    .login-panel {
        left: 25%;
        top: 20%;
    }
    .text-login {
        font-size: xx-large;
    }
}

@media (max-width: 600px) and (max-height: 900px) {
    .login-panel {
        width: 29%;
        height: 30%;
        left: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .form-input {
        width: 160%;
        align-self: center;
    }
    form {
        top: 0;
    }
    .text-login {
        left: 0%;
        padding: 0%;
        margin: 0%;
        top: 0%;
        width: 130%;
    }
}

@media (max-width: 300px) and (max-height: 700px) {
    .login-panel {
        width: 20%;
        height: 25%;
        left: 7%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}