.title {
    font-size: 330%;
    padding-top: 8%;
    text-align: center;
    color: black;
}

.buttonsMain {
    margin-left: 35%;
    width: 50%;
    padding-top: 5%;
    font-size: 150%;
}

.viewButtonMain,
.compareButtonMain {
    background: rgba(19, 94, 181, 0.959);
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    border: none;
    white-space: nowrap;
    padding: 0.5em 1em;
    border-radius: 10%;
    cursor: pointer;
}

html {
    background: url(fundal.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: transparent;
}


/*Phone version*/

@media (max-width: 700px) and (max-height: 900px) {
    footer {
        position: fixed;
    }
    .headerNormalView {
        width: 100%;
    }
    .phone_header_menu {
        display: block;
    }
    .text_menu {
        font-size: medium;
        color: black;
        font-weight: 300;
    }
    .text_hf {
        font-size: small;
    }
    .headerBtn .header-Btn {
        display: none;
    }
    .header-Btn {
        margin: 2em 0;
        color: white;
        text-align: center;
    }
    #phone_meniu_btn {
        position: absolute;
        top: -20%;
        right: 2%;
    }
    .viewButtonMain,
    .compareButtonMain {
        margin-top: 15%;
        margin-bottom: 15%;
    }
    #buttonsMain {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-left: 25%;
        margin-right: 25%;
    }
    #title {
        margin-top: 20%;
        font-size: 230%;
    }
}

@media (max-width: 1024px) and (max-height: 1424px) and (min-width:700px) and (min-height:901px) {
    .viewButtonMain,
    .compareButtonMain {
        margin-top: 15%;
        margin-bottom: 15%;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    #buttonsMain {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-left: 25%;
        margin-right: 25%;
    }
    #title {
        margin-top: 20%;
        font-size: 300%;
    }
}

@media (max-width:700px) {
    .viewButtonMain,
    .compareButtonMain {
        margin-top: 15%;
        margin-bottom: 15%;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 4%;
        padding-right: 4%;
    }
    #buttonsMain {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-left: 25%;
        margin-right: 25%;
    }
    #title {
        margin-top: 20%;
        font-size: 200%;
    }
}