.admin-options {
    position: absolute;
    top: 5%;
    left: 25%;
    display: flex;
    flex-direction: column;
    padding: 12em 15em;
    z-index: -1;
    background-color: rgba(94, 163, 241, 0.6);
}

.admin-options_selected {
    padding-bottom: 6em;
}

.admin-option {
    margin-bottom: 1em;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
}

.admin-option_on-click {
    border: none;
}

.text-admin {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: 300;
}

.add-admin-form {
    display: flex;
    flex-direction: row;
}

#add-data {
    display: flex;
    flex-direction: column;
}

.btn {
    border-radius: 4px;
    background: none;
    border: none;
    color: #000000;
    text-align: center;
    font-size: larger;
    padding: 0.5em;
    width: 15em;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

.btn1 {
    background-color: #1e82f4;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: larger;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.btn1:hover {
    opacity: 1
}

input {
    width: 60%;
    padding: 3px 3px;
    margin: 2px 0;
    box-sizing: border-box;
}
#delete-month-form{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:300px) and (max-height:710px) {
    .admin-options {
        width: 80%;
        height: 50%;
        padding: 2%;
        left: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15%;
    }
    .admin-option {
        padding: 0%;
        width: 100%;
    }
}

@media screen and (max-height:710px) {
    .admin-options {
        width: 90%;
        height: 50%;
        padding: 0%;
        left: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15%;
        margin-right: 2%;
    }
    .admin-option {
        padding: 0%;
    }
}

@media screen and (max-width:300px) and (max-height:710px) {
    .admin-options {
        width: 90%;
        height: 50%;
        padding: 0%;
        left: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15%;
        margin-right: 2%;
    }
    .text-admin {
        font-size: 100%;
    }
    .admin-option {
        padding: 0%;
        width: 100%;
    }
}