
.entire-page{
   
    height: 70%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-self: center;
    justify-self: center;
}
.criterial-specific{
    position: absolute;
    top: 10%;
    display: flex;
    align-self: center;
    width: 60%;
    height: 70%;
    flex-direction: row;
    background:none;
}

.text{
    text-decoration: none;
    font-size: medium;
    color: #000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text_option{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: smaller;
}

.chart{
    position: relative;
}

.chart_canva{
    position: relative;
    border:rgba(155, 149, 149, 0.479) solid 1px;
    padding: 0;
    margin: 0;
}

.chart_text_view{
    display: none;
}

#chart_canva__text{
    font-size: larger;
    background-color: rgba(94, 163, 241, 0.3);
    position: absolute;
    top: 30%;
    left:26%;
    white-space: nowrap;
    border-radius: 20px;
    padding: 3em;

}
.chart__format{
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   width:20%;
   height: 5%;
   white-space:nowrap;
   justify-content: flex-start;
   align-items: center;
   margin: 1% 0;
}

.chart__format__btn{
    background: none;
    margin: 10px 5px; 
    padding: 5px 5px;
    border-left: none;
    border-top:none;
    border: 1px solid lightgrey;
    cursor:pointer;
    transition: 0.5s;
    position: relative; 
}
.chart__format__btn::before, .chart__download-btn::before {
    content: " ";
    display: block;
    position: absolute;
    left:0;
    top:0;
    border-radius: 0 0 70% 70%;
    width: 100%;
    height: 0;
    z-index: -1;
    background: rgba(94, 163, 241, 0.452);
    transition:0.5s;
}

.chart__format__btn:hover::before, .chart__download-btn:hover::before{
    height: 100%;
}



.chart__download-btn:hover::before .download-format{
    display: block;
}


.criteria{
    top: 7.5%;
    background-color: rgb(215, 233, 248);
    padding: 0 1.5em ;
    position: relative;  
}


.criteria__arrow {
    position: relative;
    margin: 1em 0;
}
.drop-list{
    box-shadow: 0 10px 5px (0, 0, 0, 0.5);
    font-size: smaller;
    text-align: center;
    padding:0.5em 5em 0.5em 1em;
    width: 100%;
    border: 1px solid black;
    position: relative;
    margin: 0;
    white-space: nowrap;
}
.criteria__text{
  margin: 0.1em 0;
}

.arrow{
    position: absolute;
    margin:0;
    top: 0;
    right: 0;
    display:block;
    background: black;
    height: 100%;
    width: 2em;
    pointer-events: none;
}
.arrow-add{
    top: 0%;   
    height: 100%;

}
.criteria__add{
    display: flex;
    flex-direction: row;
    align-content:center ;
    flex-wrap: nowrap;
    width:20%;
    height: 5%;
    white-space:nowrap;
    justify-content: flex-start;
    align-items: center;
}

.criteria_form_btn{
    font-size: larger;
    color: rgb(112, 112, 112);
    background:rgba(94, 163, 241, 0.452);
    padding: 0 6px;
    margin-right:0.7em;
    border:none;
    border-radius: 100px;
}

#criteria_create{
    position: absolute;
     color: black;
     font-size: medium;
     padding: 5px 15px;
     border-radius: 20px;
     left: 20%;
     bottom: 5%;
    }

#criteria__line{
    align-self: start;
    border: 2px solid rgb(112, 112, 112);
    margin: 1.5em 0;
    padding: 0 2em;
    border-radius: 50px;
}

.criteria_limit{
    position: absolute;
    background-color:rgb(20, 168, 1);
    padding: 3em;
    border-radius: 30px;
    transform: translateY(-150%);
    left:25%;
    z-index:2;
    transition: transform 0.75s ease-out;
}
.criteria_limit_text{
    font-size: large;
    color: white;
    font-weight: 600;
}

.criteria-limit_grey-bkg{
    display: none;
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0, 0.5);
}

.criteria-limit_grey-bkg_shown{
    display: block;
}
.criteria_limit_shown{
 transform: translateY(130%);
 
}


